body {
  margin: 0 auto;
}

footer > ul,
li {
  color: white;
  list-style: none;
  font-size: 35px;
  text-align: center;
}

.input-group-append {
  background-color: grey;
}
.input-group-append > span {
  background-color: black;
  color: rgb(247, 243, 243);
}
.btn btn-outline-secondary > span {
  background-color: rgba(201, 194, 194, 0.671);
  color: white;
}

.row.red {
  background-color: #bc290c;
  padding: 20px;
  justify-items: center;
}
.row.white {
  background-color: white;
  height: 200px;
}

.orange__button {
  text-align: center;
}

.button__orange--big {
  width: 150px;
  height: 50px;
  background-color: #e79d30;
  border-radius: 15px;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.input-group mb-5 {
  text-align: center;
}

.adress,
.inscription {
  color: white;
  text-align: center;
}
.name {
  font-size: 35px;
}
