//define primary colors in a var//
$primary__red: #bc290c;
$primary__yellow: #e79d30;
$font: roboto;

.footer {
  display: block;
  background-color: $primary__red;
  p {
    color: white;
    font-family: $font;
  }

  .logo__footer {
    background-color: white;
  }
}
.button__orange--big {
  background-color: #e79d30;
  width: 160px;
  color: white;
  font-family: $roboto;
}
